upstream backend {
    server 172.17.0.1:9001;
}

server
{
    listen       80;
    server_name  www.example.com;

    #access_log /var/log/nginx/www.example.com.access.log main;
    #error_log  /var/log/nginx/www.example.com.error.log warn;

    location / {
         default_type application/json;
         return 200 '{"status":200,"data":"{}","message":"SUCESS"}';
    }

    location ~(^/test/)(.*) {
        proxy_pass http://backend/$2;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Real-PORT $remote_port;
        proxy_set_header REMOTE-HOST $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }


    location ~ /\.
    {
        deny  all;
    }
}
