server
{
    listen       80;
    server_name  www.example.com;

	#access_log /var/log/nginx/www.example.com.access.log main;
    #error_log  /var/log/nginx/www.example.com.error.log warn;

    location / {
        proxy_pass http://172.17.0.1:9001;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header REMOTE-HOST $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
    {
        expires    30d;
        access_log off;
    }

    location ~ .*\.(js|css)?$
    {
        expires    12h;
        access_log off;
    }

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
    }

    location ~ /\.
    {
        deny  all;
    }
}